  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');

  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
   
}

body {
     font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    background-color: black;
}
.p {
    margin-bottom: 2rem;
}

.div-p {
    margin-top: 1.2rem;
}

p {
    color: #FFF;
    font-size: 1.1rem;
}

ul {
    display: flex;
}

ul li {
    color: #FFF;
    padding: 1rem;
}

.header {
    padding: 2rem;
}


.inputTodo-class , input::placeholder {
    color: #ff5733;
}


.nav-header {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

/* popUp  */

.popUp {
    position: absolute;
    top: 50%;
    left: 50%;
   transform:  translate(-50%, -50%);
   background-color: #ff5733;
   border: #FFF 1px solid;
   text-align: center;
   padding: 1.5rem;
   border-radius: 1.2rem;
   display: none;
   
}
.popUpshow {
   display: block;
}

.btn-popUp {
    display: block;
    background-color: black;
    color: #fff;
}

.inputName {
    padding: 0.5rem;
    outline: navajowhite;
}

/*  section style */

.section {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

.folder {
    width:300px;
    height: 87vh;
}

.topFolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    color: #fff;
}

.elements-todo {
    background-color: #ebdfdf;
}

.container {
    margin-top: 1.9rem;
   width: 90%;
   color: #ebdfdf;
   width: 100%;
}


.h1-todo {
    padding-bottom: 1.5rem;
    margin-left: 1rem;
}

.todo-container {
    width: 90%;
    text-align: center;
    border-radius: 20px;
}

.ul-todo {
    background-color: #3db5ad;
    margin-top: 2rem;
}

#plusSpan {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}
#plusSpan:hover::before {
    content: 'add todo';
    transition: margin-right 2s ease-in-out;
    font-size: 0.9rem;
}





.folder-style {
    background-color: #fff;
    margin: 1rem;
    text-align: center;
    border-radius: 0.2rem;
}

.folder-style:hover {
    background-color: #ff5733;
    
}

.folder-style:visited {
    background-color: #ff5733;
    
}

.folder-style:hover p {
   color: #FFF;
    
}
.folder-style p {
    color: #ff5733;
}


/*  end my folders style */


.todo-added-container {
    margin-left: 3rem;
}

.message-error1 {
    color: #ff5733;
}

.div-todo-added {
    border-radius: 0.5rem;
    padding-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 2rem;
    border-left: white 2px solid;
    border-bottom: #F3FFB6 2px solid;
    

}

.li-doto {
    display: flex;
    justify-content: space-around;
}


.btn {
    margin: 0.5rem;
    height: 3em;
    text-align: center;
    align-items: center;
}


.span-elements {
   margin-left: 60px;
}


button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ff5733;
}

#clearTodo {
    width: 30%;

}

ul li {
    list-style: none;
    width: 100%;
    text-align: left;
   

}
ul li a {
    display: flex;
}

.lineThrought {
    text-decoration: line-through;
}
